:root {
  --electric-blue: #51e0de;
  --mimi-pink: #f36387;
  --green-yellow-crayola: #fde672;
  --mint-green: #C1FBA4;
  --light-green: #4ff890;
  --ksu-purple: #9d68d1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Sriracha', cursive;
}

body {
  background: #dedede;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: var(--ksu-purple);
  color: white;
  font-size: 1.5rem;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
}

.gameboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 50vh;
  margin: 0 auto;
}

.gameboard-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.color {
  width: 50%;
  min-width: 100px;
  height: 50%;
  min-height: 100px;
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.celeste {
  background: var(--electric-blue);
}

.celeste.light {
  background: #acfffe;
}

.rosa {
  background: #f36387;
}

.rosa.light {
  background: #ffbdcd;
}

.amarillo {
  background: var(--green-yellow-crayola);
}

.amarillo.light {
  background: #fff5c2;
}

.verde {
  background: var(--light-green);
}

.verde.light {
  background: #b6ffd2;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.button {
  width: 230px;
  height: 50px;
  background: #9d68d1;
  color: white;
  border: black solid 2px;
  border-radius: 25px;
  font-size: 2.5rem;
  font-family: 'Sriracha', cursive;
  outline: none;
  margin: 10px;
  cursor: pointer;
}

.hide {
  display: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 10vh;
  background-color: var(--ksu-purple);
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}